@using HomemadeLMS.Models.Domain
@model AccountAndObject<Account>
@{
	ViewData["Title"] = "Аккаунт";

	var navbarMenu = MenuBuilder.DefaultNavbarMenu;
	if (Model.Account.Username == Model.Object.Username)
	{
		var popupMenu = new Menu();
		popupMenu.Groups.Add(new());
		popupMenu.Groups[0].Links.Add(new Link { Href = "/signout", Label = "Выйти", LinkCategory = LinkCategory.Danger });
		ViewData["PopupMenu"] = popupMenu;
		navbarMenu.Links.RemoveAt(0);
	}
	else
	{
		navbarMenu.Links[0].Label = "Мой аккаунт";
	}
	ViewData["NavbarMenu"] = navbarMenu;

	var roleName = Model.Object.Role switch
	{
		UserRole.Student => "Студент",
		UserRole.Teacher => "Преподаватель",
		UserRole.Manager => "Менеджер",
		_ => string.Empty,
	};
}

@if (DataUtils.IsValuable(Model.Object.Name))
{
	<h6 class="fw-bold">@Model.Object.Name</h6>
	<div class="mt-5"></div>
}
<label>Адрес почты: @Model.Object.EmailAddress</label>
@if (Model.Object.TelegramUsername is not null)
{
	<div class="mt-3"></div>
	<label>Телеграм: <label class="text-success fw-bold">@Model.Object.TelegramUsername</label></label>
}

<div class="mt-5"></div>
<label>@roleName</label>
@if (Model.Account.Username == Model.Object.Username || Model.Account.CanChangeRoleOf(Model.Object))
{
	<div class="mt-5"></div>
	<a class="btn btn-secondary" href="/account/edit?username=@Model.Object.Username">
		Редактировать профиль
	</a>
}
@if (Model.Account.Username == Model.Object.Username)
{
	<div class="mt-2"></div>
	<a class="btn btn-secondary" href="/account/changepassword">Изменить пароль</a>
}
