@using HomemadeLMS.Models.Domain
@{
	ViewData["Title"] = "Изменение пароля";
	var navbarMenu = MenuBuilder.DefaultNavbarMenu;
}

<div class="col-12 col-md-10 col-lg-8 col-xl-6" align="left">
	<form method="POST">
		<label class="form-label">Новый пароль</label>
		<input type="password" class="form-control" name="password"
			   maxlength="@Account.MaxPasswordSize">

		<div class="mt-4"></div>
		<label class="form-label">Подтверждение (пароль ещё раз)</label>
		<input type="password" class="form-control" name="confirmation"
			   maxlength="@Account.MaxPasswordSize">

		<div class="mt-5" align="center">
			<button type="submit" class="btn btn-secondary">Сохранить</button>
		</div>
	</form>
	<div class="mt-5" align="center">
		<a class="link-custom-secondary" href="/account">Вернуться</a>
	</div>
</div>
