@using HomemadeLMS.Models.Domain
@{
	ViewData["Title"] = "Авторизация";

	var navbarMenu = new LinkGroup();
	navbarMenu.Links.Add(new Link { Href = "/", Label = "Главная страница" });
	ViewData["NavbarMenu"] = navbarMenu;
}

<div class="col-10 col-sm-7 col-md-5 col-lg-4 col-xl-3">
	<form method="POST">
		<div class="input-group">
			<input class="form-control text-center" name="accountId" placeholder="email-адрес"
			       maxlength="@Account.MaxAccountIdSize">
		</div>

		<div class="mt-4"></div>
		<input type="password" class="form-control text-center" name="password"
			   placeholder="Пароль" maxlength="@Account.MaxPasswordSize">

		<div class="mt-5"></div>
		<button type="submit" class="btn btn-secondary">Войти</button>
	</form>
</div>
<div class="mt-5" align="center">
	<a class="link-custom-secondary" href="/signin/mail">Войти с подтверждением по email</a>
</div>
