@using HomemadeLMS.Models.Domain
@model RoleTestResult?
@{
    ViewData["Title"] = "Тест Белбина";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;

    var buttonText = Model is null ? "Пройти тест" : "Перепройти тест";
}

<p>Тест Белбина используется для определения командных ролей</p>
@if (Model is not null)
{
	<div class="mt-5"></div>
	<div class="fw-bold">
		<label>Текущий результат</label>
		<div class="mt-4"></div>
		@foreach (var namedScore in NamedRoleScore.GetAllSortedFromTestResult(Model))
		{
			<div class="mt-1"></div>
			<label>@namedScore.Name — @namedScore.Score</label>
		}
	</div>
}
<div class="mt-5"></div>
<a class="btn btn-secondary" href="/extension/roletest">@buttonText</a>
