@using HomemadeLMS.Models.Domain
@model Course
@{
	ViewData["Title"] = "Add Course Members";
	ViewData["NavbarMenu"] = MenuBuilder.GetDefaultNavbarMenu();
}

<div class="col-12 col-md-10 col-lg-8 col-xl-6" align="center">
	<p>Введите username/email-адреса пользователей списком</p>
	<p>Разделителями могут быть , ; и пробел/перенос строки/табуляция</p>
	<p>Размер текста должен быть до 100'000 символов</p>
	<p>Все пользователи добавляются с ролью студента курса</p>
	<form method="POST">
		<div class="form-group mt-4">
			<textarea class="form-control" id="accountIdTextInput" name="accountIdText"
				      rows="8" maxlength="100000"></textarea>
		</div>
		<div class="mt-4">
			<button type="submit" class="btn btn-secondary">
				Добавить участников
			</button>
		</div>
	</form>
	<div class="mt-5">
		<a class="link-secondary" href="/course?id=@Model.Id">
			Вернуться
		</a>
	</div>
</div>
