@using HomemadeLMS.Models.Domain
@model MemberAndObject<Announcement>
@{
	ViewData["Title"] = "Объявление";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;
}

<div class="col-12 col-lg-8">
	<h6 class="fw-bold">@Model.Object.Title</h6>
	@if (DataUtils.IsValuable(Model.Object.Content))
	{
		<div class="mt-4"></div>
		<div class="d-inline-flex" align="left">
			<pre class="pre-vertical">@Model.Object.Content</pre>
		</div>
	}
	@if (Model.Member.IsTeacher)
	{
		var editionUrl = $"/course/announcement/edit?id={Model.Object.Id}";

		<div class="mt-5"></div>
		<form method="POST">
			<a class="btn btn-secondary" href=@editionUrl>Редактировать</a>
			<button type="submit" class="btn btn-danger">Удалить</button>
		</form>
	}
	<div class="mt-5"></div>
	<a href="/course/announcements?courseId=@Model.CourseId">Все объявления</a>
</div>
