@using HomemadeLMS.Models.Domain
@model CourseMemberAndObject<List<Announcement>>
@{
	ViewData["Title"] = "Объявления";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;

	Model.Object.Sort((first, second) => -first.CreationTime.CompareTo(second.CreationTime));
}

<div class="col-12 col-lg-8">
	@if (Model.CourseMember.CanEditHomeworks)
	{
		<form method="POST">
			<button type="submit" class="btn btn-secondary">+ Добавить объявление</button>
		</form>
		<div class="mt-5"></div>
	}
	@foreach (var announcement in Model.Object)
	{
		<a class="link-card" href="/course/announcement?id=@announcement.Id">
			<div class="card border-secondary">
				<div class="card-header">@announcement.Title</div>
				@if (DataUtils.IsValuable(announcement.Content))
				{
					<div class="card-body vertically-filled-div text-start">
						<pre class="card-text pre-vertical">@announcement.Content</pre>
					</div>
				}
			</div>
		</a>
		<div class="mt-5"></div>
	}
	<a class="link-custom-secondary" href="/course?id=@Model.CourseId">Вернуться</a>
</div>
