@using HomemadeLMS.Models.Domain
@model AccountAndObject<List<Course>>
@{
	ViewData["Title"] = "Курсы";
	var navbarMenu = MenuBuilder.DefaultNavbarMenu;
	navbarMenu.Items.RemoveAt(1);
	ViewData["NavbarMenu"] = navbarMenu;

	Model.Object.Sort((first, second) => -first.Id.CompareTo(second.Id));
}

<div class="col-12 col-md-10 col-lg-8 col-xl-6">
	@if (Model.Account.CanEditCourses)
	{
		<form method="POST">
			<div class="mb-5">
				<button type="submit" class="btn btn-secondary">+ Создать курс</button>
			</div>
		</form>
	}
	<div>
		@foreach (var course in Model.Object)
		{
			<div class="mt-2">
				<a href="/course?id=@course.Id">@course.Title</a>
			</div>
		}
	</div>
</div>
