@using HomemadeLMS.Models.Domain
@model AccountAndObject<List<Course>>
@{
	ViewData["Title"] = "Курсы";
	var navbarMenu = MenuBuilder.GetDefaultNavbarMenu();
	navbarMenu.Items.RemoveAt(1);
	ViewData["NavbarMenu"] = navbarMenu;
}

<div class="col-12 col-md-10 col-lg-8 col-xl-6">
	<form method="POST">
		<div>
			<button type="submit" class="btn btn-secondary">+ Создать курс</button>
		</div>
	</form>
	<div class="mt-5">
		@foreach (var course in Model.Object)
		{
			<div class="mt-1">
				<a href="/course?id=@course.Id">@course.Title</a>
			</div>
		}
	</div>
</div>
