@using HomemadeLMS.Models.Domain
@model AccountAndObject<Course>
@{
	ViewData["Title"] = "Course";

	var linkItemGroup = new LinkGroup();
	linkItemGroup.Items.Add(new LinkItem { Href = "/account", Label = "Аккаунт" });
	linkItemGroup.Items.Add(new LinkItem { Href = "/course", Label = "Курсы" });
	ViewData["NavbarMenu"] = linkItemGroup;

	var course = Model.Object;
}

<div class="col-12 col-md-10 col-lg-8 col-xl-6" align="center">
	<div>
		<h6>@course.Title</h6>
	</div>
	@if (DataUtils.IsValuable(course.Description)) {
		<div class="mt-4">
			<p>@course.Description</p>
		</div>
	}
	@if (DataUtils.IsValuable(course.SmartLmsUrl))
	{
		<div class="mt-4">
			<a href="@course.SmartLmsUrl">Cсылка на курс в SmartLMS</a>
		</div>
	}
	@if (DataUtils.IsValuable(course.PldUrl))
	{
		<div class="mt-@(DataUtils.IsValuable(course.SmartLmsUrl) ? 2 : 4)">
			<a href="@course.PldUrl">Cсылка на ПУД</a>
		</div>
	}
	<div class="mt-4">
		<a href="/course/members?courseId=@course.Id">Участники</a>
	</div>
	@if (course.CanBeEditedBy(Model.Account))
	{
		<form method="POST">
			<div class="mt-5">
				<button type="submit" class="btn btn-secondary">Редактировать</button>
			</div>
		</form>
	}
</div>
