@using HomemadeLMS.Models.Domain
@model Announcement
@{
	ViewData["Title"] = "Редактирование объявления";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;

	var maxTitleSize = Announcement.MaxTitleSize;
}

<div class="col-12 col-lg-8" align="left">
	<form method="POST">
		<label class="form-label">Заголовок (обязательное поле)</label>
		<input class="form-control" name="title" value="@Model.Title" maxlength="@maxTitleSize">

		<div class="mt-5"></div>
		<label class="form-label">Основной текст</label>
		<textarea class="form-control" name="content" rows="15"
				  maxlength="@Announcement.MaxContentSize">@Model.Content</textarea>

		<div class="mt-5" align="center">
			<button type="submit" class="btn btn-secondary">Сохранить</button>
		</div>
	</form>
	<div class="mt-5" align="center">
		<a class="link-custom-secondary" href="/course/announcement?id=@Model.Id">Вернуться</a>
	</div>
</div>
