@using HomemadeLMS.Models.Domain
@model HomeworkWithAllStatus
@{
	ViewData["Title"] = "Оценки";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;

	Model.AllStatus.Sort((first, second) => first.SubjectId.CompareTo(second.SubjectId));
	var homework = Model.Homework;
}

<div class="col-12" align="left">
	<form method="POST">
		<div id="submissionBlock" align="center" hidden>
			<button type="submit" class="btn btn-success fw-bold">Сохранить все изменения</button>
			<div class="mt-5"></div>
		</div>
		@foreach (var status in Model.AllStatus)
		{
			var inputName = $"mark{status.SubjectId}";
			Team.TryGetId(status.SubjectId, out var teamId);
			var url = homework.IsTeamwork ? $"/course/team?id={teamId}"
					  : $"/course/member?courseId={homework.CourseId}&username={status.SubjectId}";

			<div class="mt-1"></div>
			<div class="d-inline-flex">
				<div class="align-self-center">
					<select class="form-control text-center mark-input" name=@inputName
							oninput="showSubmissionBlock()">
						<option value="" selected></option>
						<option value="reset">Сбросить</option>
						<option value="0">0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
					</select>
				</div>
				<div class="ms-5"></div>
				<a class="align-self-center" href=@url>@status.SubjectId</a>
				@if (status.IsEvaluated)
				{
					<div class="ms-5"></div>
					<label class="align-self-center fw-bold">@status.Mark</label>
					<div class="ms-3"></div>
					<label class="align-self-center">(@status.EvaluatorUsername)</label>
				}
			</div>
		}
	</form>
	<div class="mt-5" align="center">
		<a class="link-custom-secondary" href="/course/task?id=@Model.Homework.Id">Вернуться</a>
	</div>
</div>

<script type="text/javascript">
	function showSubmissionBlock() {
		document.getElementById("submissionBlock").hidden = false;
    }
</script>
