@using HomemadeLMS.Models.Domain
@model MemberChangelogVM
@{
	ViewData["Title"] = "Результат";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;

	var sortedUsernameLists = new List<string>[] {
		Model.AddedUsernames,
		Model.RemovedUsernames,
		Model.AlreadyAddedUsernames,
		Model.AlreadyRemovedUsernames,
		Model.InvalidUsernames,
	};
}

<div class="col-12 col-md-10 col-lg-8 col-xl-6">
	@foreach (var usernameList in sortedUsernameLists)
	{
		var listName = string.Empty;
		if (usernameList == Model.AddedUsernames)
		{
			listName = "Добавлены";
		}
		if (usernameList == Model.RemovedUsernames)
		{
			listName = "Удалены";
		}
		if (usernameList == Model.AlreadyAddedUsernames)
		{
			listName = "Уже были добавлены (никаких действий)";
		}
		if (usernameList == Model.AlreadyRemovedUsernames)
		{
			listName = "Уже не были на курсе (никаких действий)";
		}
		if (usernameList == Model.InvalidUsernames)
		{
			listName = "Некорректные идентификаторы (никаких действий)";
		}

		@if (usernameList.Any())
		{
			<label class="fw-bold">@listName (@usernameList.Count)</label>
			<div class="mt-3"></div>
			@foreach (var username in usernameList)
			{
				<div></div>
				<label>@username</label>
			}
			<div class="mt-5"></div>
		}
	}
	<a class="link-custom-secondary" href="/course/members/?courseId=@Model.Course.Id">Вернуться</a>
</div>
