@using HomemadeLMS.Models.Domain
@model Course
@{
	ViewData["Title"] = "Удаление участников";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;
}

<div class="col-12 col-md-10 col-lg-8 col-xl-6">
	<p>Введите email-адреса пользователей списком</p>
	<p>Разделителями могут быть , ; и пробел/перенос строки/табуляция</p>
	<p>Размер текста должен быть до 100'000 символов</p>
	<div class="mt-5"></div>
	<form method="POST">
		<textarea class="form-control" name="accountIdText" rows="8" maxlength="100000"></textarea>
		<div class="mt-4"></div>
		<button type="submit" class="btn btn-secondary">Удалить участников</button>
	</form>
	<div class="mt-5"></div>
	<a class="link-custom-secondary" href="/course/members/?courseId=@Model.Id">Вернуться</a>
</div>
