@using HomemadeLMS.Models.Domain
@model TeamsVM
@{
	ViewData["Title"] = "Команды";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;

	var username = Model.Member.Username;
	var teams = Model.Teams;
	var allMemberInfo = Model.SingleStudents;
	teams.Sort((first, second) => first.Id.CompareTo(second.Id));
	allMemberInfo.Sort(Comparators.MemberInfo);
}

<div class="col-12 col-md-10 col-lg-8 col-xl-6">
	@if (Model.Member.CanCreateTeam(Model.Course))
	{
		<form method="POST">
			<button type="submit" class="btn btn-secondary">+ Создать команду</button>
		</form>
		<div class="mt-5"></div>
	}
	@if (teams.Any())
	{
		<h6>Команды</h6>
		<div class="mt-4"></div>
		@foreach (var team in teams)
		{
			<div class="mt-1"></div>
			<a href="/course/team?id=@team.Id">@team.Name</a>
		}
		<div class="mt-5"></div>
	}
	@if (allMemberInfo.Any())
	{
		<h6>Без команды</h6>
		<div class="mt-3"></div>
		@foreach (var memberInfo in allMemberInfo)
		{
			var member = memberInfo.Member;
			var name = memberInfo.Account?.Name;
			var url = $"/course/member?courseId={member.CourseId}&username={member.Username}";

			<div class="mt-1"></div>
			@if (name is not null)
			{
				<label class="me-4">@name</label>
			}
			<a href=@url>@member.Username</a>
		}
		<div class="mt-5"></div>
	}
	<a class="link-custom-secondary" href="/course?id=@Model.Course.Id">Вернуться</a>
</div>
