@using HomemadeLMS.Models.Domain
@model TeamVM
@{
	ViewData["Title"] = "Команда";
	ViewData["NavbarMenu"] = MenuBuilder.DefaultNavbarMenu;

	var team = Model.Team;
	Model.AllMemberInfo.Sort(Comparators.TeamMemberInfo(team));
	var canChangeTeam = Model.Member.CanChangeTeam(Model.Course);
	var canEditTeam = Model.Member.CanEditTeam(Model.Course, Model.Team);
}

<div class="col-12 col-lg-8">
	<h6 class="fw-bold">@team.Name</h6>
	<div class="mt-3"></div>
	<label class="text-success fw-bold">@team.Tag</label>
	<div class="mt-5"></div>
	@foreach (var info in Model.AllMemberInfo)
	{
		var name = info.Account?.Name;
		var url = $"/course/member?courseId={team.CourseId}&username={info.Member.Username}";

		<div class="mt-1"></div>
		<a href=@url>@(name is null ? info.Member.Username : name)</a>
		@if (info.Member.IsLeader(team))
		{
			<label class="ms-4 fw-bold">лидер</label>
			<div class="mt-4"></div>
		}
	}
	@if (Model.Course.HasRoleTestResults && Model.Member.CanSeeRoleResults(team))
	{
		<div class="mt-5"></div>
		<a class="link-custom-secondary" href="/course/team/roles?teamId=@team.Id">
			Командные роли по Белбину
		</a>
	}
	<div class="mt-5"></div>
	@if (canChangeTeam || canEditTeam)
	{
		<div class="mt-5"></div>
		<form method="POST">
			@if (canChangeTeam)
			{
				@if (Model.Member.IsInTeam(team))
				{
					<button type="submit" class="btn btn-secondary my-1" name="actionCode" value="leave">
						Уйти из команды
					</button>
				}
				else
				{
					<button type="submit" class="btn btn-secondary my-1" name="actionCode" value="join">
						Присоединиться
					</button>
				}
			}
			@if (canEditTeam)
			{
				<a class="btn btn-secondary my-1" href="/course/team/edit?id=@team.Id">Редактировать</a>
				<button type="submit" class="btn btn-danger" name="actionCode" value="delete">
					Удалить
				</button>
			}
		</form>
	}
	<div class="mt-5"></div>
	<a href="/course/teams?courseId=@Model.Course.Id">Все команды</a>
</div>
